{% extends "base.html" %}

{% block content %}

<canvas id="myChart" width="300" height="70"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart')

new Chart(ctx, {
    type: 'line',
    data:
    {
      labels : [{% for item in labels %} "{{ item }}", {% endfor %}],
      datasets:
      [
        {
          label: "T",
          data : [{% for item in values %} {{ item }}, {% endfor %}],
          backgroundColor:
          [
            'rgba(54, 162, 235, 0.2)',
          ],
          borderColor:
          [
            'rgb(54, 162, 235)',
            'rgb(75, 192, 192)',
            'rgb(255, 205, 86)',
            'rgb(255, 159, 64)',
          ],
          borderWidth: 2
        }
      ]
    },
    options:
    {
      plugins:
      {
        legend:
        {
          position: 'bottom',
          display: false,
        },
        title:
        {
          display: true,
          text: 'World avarage temperature change 1995 - 2019'
        }
      }
    }
});
</script>

{% load static %}

<h1 style="text-align:center;font-size:120%;font-family:verdana;color:gray;">Choose your chart and insert required input</h1>

<div class="row">

    <div class="column">
        <form id=bar_chart action="{% url 'bar_chart' %}" method="get">
            <img src="{% static '/media/img/bar_chart.png' %}" width="50" height="30" >
            <label for="bar_chart" style="font-family:verdana;color:gray;"><u>Bar chart</u></label>
            <br>
                <select name="query_city" class="input2" required>
                    <option value="">Choose city</option>
                    {% for city in city %}
                        <option value={{city.0}} >{{city.0}} ({{city.1}})</option>
                    {% endfor %}
                </select>
                <select name="query_year" class="input2" required>
                    <option value="">Choose year</option>
                    {% for year in years %}
                        <option value={{year}} >{{year}}</option>
                    {% endfor %}
                </select>
            <br>
                <select name="query_axis" class="input2" required>
                    <option value="">Choose chart index axis</option>
                    <option value=x >X</option>
                    <option value=y >Y</option>
                </select>
            <br>
                <input type="submit" value="Generate chart" class="input"/>
        </form>
    </div>
    <div class="column">
        <form id=bar_chart_comparison action="{% url 'bar_chart_comparison' %}" method="get">
            <img src="{% static '/media/img/bar_chart.png' %}" width="50" height="30" >
            <label for="bar_chart_comparison" style="text-align:center;font-family:verdana;color:gray;"><u>Bar chart comparison</u></label>
            <br>
                <select name="query_city_1" class="input2" required>
                    <option value="">Choose city (1)</option>
                    {% for city in city %}
                        <option value={{city.0}} >{{city.0}} ({{city.1}})</option>
                    {% endfor %}
                </select>
                <select name="query_year_1" class="input2" required>
                    <option value="">Choose year (1)</option>
                    {% for year in years %}
                        <option value={{year}} >{{year}}</option>
                    {% endfor %}
                </select>
            <br>
                <select name="query_city_2" class="input2" required>
                    <option value="">Choose city (2)</option>
                    {% for city in city %}
                        <option value={{city.0}} >{{city.0}} ({{city.1}})</option>
                    {% endfor %}
                </select>
                <select name="query_year_2" class="input2" required>
                    <option value="">Choose year (2)</option>
                    {% for year in years %}
                        <option value={{year}} >{{year}}</option>
                    {% endfor %}
                </select>
            <br>
                <select name="query_city_3" class="input2" required>
                    <option value="">Choose city (3)</option>
                    {% for city in city %}
                        <option value={{city.0}} >{{city.0}} ({{city.1}})</option>
                    {% endfor %}
                </select>
                <select name="query_year_3" class="input2" required>
                    <option value="">Choose year (3)</option>
                    {% for year in years %}
                        <option value={{year}} >{{year}}</option>
                    {% endfor %}
                </select>
            <br>
                <select name="query_axis" class="input2" required>
                    <option value="">Choose chart index axis</option>
                    <option value=x >X</option>
                    <option value=y >Y</option>
                </select>
            <br>
                <input type="submit" value="Generate chart" class="input"/>
        </form>
    </div>
    <div class="column">
        <form id="polar_area" action="{% url 'polar_area' %}" method="get">
            <img src="{% static '/media/img/polar_area.png' %}" width="50" height="50" >
            <label for="polar_area" style="font-family:verdana;color:gray;"><u>Polar Area chart</u></label>
            <br>
                <select name="query_city" class="input2" required>
                    <option value="">Choose city</option>
                    {% for city in city %}
                        <option value={{city.0}} >{{city.0}} ({{city.1}})</option>
                    {% endfor %}
                </select>
                <select name="query_year" class="input2" required>
                    <option value="">Choose year</option>
                    {% for year in years %}
                        <option value={{year}} >{{year}}</option>
                    {% endfor %}
                </select>
            <br>
                <input type="submit" value="Generate chart" class="input"/>
        </form>
    </div>
</div>
{% endblock %}