{% extends "base.html" %}

{% block content %}

<div class="center2" >
  <canvas id="myChart" ></canvas>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('myChart')

    new Chart(ctx, {
        type: 'polarArea',
        data:
        {
          labels : [{% for item in labels %} "{{ item }}", {% endfor %}],
          datasets:
          [
            {
              label: "Average temperature  by month (C)",
              data : [{% for item in values %} {{ item }}, {% endfor %}],
              backgroundColor: [{% for item in backgroundcolor %} "{{ item }}", {% endfor %}],
              borderColor: [{% for item in bordercolor %} "{{ item }}", {% endfor %}],
              borderWidth: 1
            }
          ]
        },
        options:
        {
          plugins:
          {
            legend:
            {
              position: 'bottom',
            },
            title:
            {
              display: true,
              text: '{{q_year}} avarage temperature in {{q_city}}'
            }
          }
        }
    });
  </script>

{% endblock %}